
@use 'helper-styles' as *
@use 'reset-base' as *

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap')


risk-management
  @include flexCenter
  overflow: hidden
  flex-direction: column
  background-color: #2c2e35
  font-family: 'Open Sans'
  font-weight: 500

  t-container, .container
    display: flex
    flex-direction: column
    padding: 0.2em 0.4em 0.2em 0.2em

  t-row, .row
    display: flex
    gap: 1em

  t-heading, .heading
    display: block

  t-label
    padding-right: 1rem
    margin-right: auto
    white-space: nowrap
    &::after
      content: ': '
  
  t-data
    margin-left: auto
    min-width: 2rem
    text-align: right

  t-group, .group
    padding: 0.2rem 0
    display: flex
    flex-direction: column

    t-heading, .heading
        font-size: 1em

  t-container, .container
    .container, t-container
      >*:not(t-heading, .heading, button)
        padding-left: 1em
        font-size: 0.9em

        


  pre-game
    @include flexCenter
    flex-direction: column
    gap: 1rem
    start-button, continue-button
      @include button(green)


  game-view
    @include flexCenter
    position: relative
    max-width: 100%

    game-background
      @include flexCenter
      pointer-events: none
      img
        height: 100%



    person-element
      background: url('./images/guy.png') no-repeat
      aspect-ratio: .461
      height: 25%
      background-size: contain
      @include positionCenter
      top: 80%
      z-index: 1

      person-info-container
        position: absolute
        left: 100%
        bottom: 0
        background: white
        padding: .5rem
        border: 2px solid black
        font-size: 1rem

      
            



    player-interface
      position: absolute
      inset: 0
      padding: 4%
      pointer-events: none
      * 
        pointer-events: all
        position: absolute

      pause-button
        @include button($color: yellow)
        bottom: 1rem
        left: 1rem   

      pass-time-button
        @include button($color: pink)
        bottom: 1rem
        right: 1rem   


      game-level     
        top: 1rem
        left: 1rem
      
      game-time
        @include positionCenter
        top: 1rem
        width: 100px

    existing-things-modal
      left: 2%
      height: 65%
      position: absolute

      existing-things
        background: #e6ffffe8
        border: 0.01rem solid black
        padding: 0.7rem .7rem
        display: flex
        flex-direction: column
        gap: .7rem
        overflow: auto
        height: 100%


        thing-container
          border: 1px solid
          padding: 0.5rem

          work-container
            background-color: #dcb694

          future-events-container
            background-color: #98b5e3
  
          puzzles-container
            background-color: #f9f193

          possible-outcomes-container
            background-color: #c5ebbd
            possible-outcome-container
              background-color: #f3e9c2a4


          work-container
            work-item-container
              .do-work-button
                @include button($color: grey)
                padding: 0.1rem 0.2rem
                border-width: 0.1rem
                font-size: .7rem
                margin: 0.3rem 0 0 auto

          puzzle-container            
            .figure-out-button
              @include button($color: yellow)
              padding: 0.1rem 0.2rem
              border-width: 0.1rem
              font-size: .7rem
              margin: 0.3rem 0 0 auto

